.fondo-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #EBF0F2;
    color: #5C6F73;
}

.custom {
    color: #5C6F73;
    text-decoration: none;
    padding: 10px;
}
