<!-- NavBar. Agregar accesos de lado izquierdo. De lado derecho colocar boton para cambio de modo oscuro a claro-->

<nav class="navbar navbar-expand-lg navbar-light position-absolute container-fluid" style="padding-left: 1%; padding-right: 2%; background-color: #D9D9D9; z-index: 1">
    <span class="navbrand-bar">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="./assets/img/argen-programa-logo.png" alt="" width="50"></a>
        <span class="prueba">Argentina Programa</span>
    </span>

    <button class="navbar-toggler ms-auto " type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle prueba" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="padding-left: 10px">
                    Redes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div *ngFor="let red of listaRedes">
                        <a class="dropdown-item" href="{{red.urlRed}}" target="_blank"><a (click)="onOpenModal('delete', red)" data-target="#deleteRedesModal"
                            class="btn btn-secondary-tooltip" data-placement="top" data-toggle="modal" data-original-title="Delete">
                            <i class="fa fa-times"></i>
                        </a><a class="fa fa-{{red.nombreRed.toLowerCase()}} custom"></a>{{red.nombreRed}}
                            
                            <a (click)="onOpenModal('edit', red)" data-target="#editRedesModal" class="btn btn-primary-tooltips"
                            data-placement="top" data-toggle="modal" data-original-title="Edit"><i class="fa fa-pencil"></i>                           
                        </a>
                        </a>               
                    </div>
                    <div *ngIf="listaRedes?.length == 0" style="color: #D9D9D9;"><span>No hay nada por aquí</span></div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-link agregar" href="" data-target="#addRedesModal" data-toggle="modal"
                        (click)="onOpenModal('add')" style="color: #D9D9D9;">Agregar redes</a>
                </div>
            </li>

              
             

            
            
            <!-- <li class="nav-item">
                <a href="https://www.instagram.com/leonardovaudagna/" class="fa fa-instagram" width="50" (click)="isMenuCollapsed = true"></a>

            </li>
            <li class="nav-item">
                <a href="#" class="fa fa-youtube" width="50" (click)="isMenuCollapsed = true"></a>
            </li>
            <li class="nav-item">
                <a href="#" class="fa fa-twitter" width="50" (click)="isMenuCollapsed = true"></a>
            </li<li class="nav-item">
                <a href="https://www.facebook.com/leonardo.vaudagna.1/" class="fa fa-facebook" width="50" (click)="isMenuCollapsed = true">
                </a>
            </li>>
            <li class="nav-item">
                <a href="#" class="fa fa-github" width="50" (click)="isMenuCollapsed = true"></a>
            </li> -->
        </ul>
    </div>
    <button type="button" class="btn btn-dark" style="margin-left: 10px;">Iniciar sesión</button>

    
</nav>



<!-- Modal Agregar -->

<div class="modal fade" id="addRedesModal" tabindex="-1" role="dialog" aria-labelledby="addRedesModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRedesModalLabel">Añadir red social</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                        &times;</span></button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddRedes(addForm)">
                <div class="form-group">
                    <label for="nombreRed">Red social</label>
                    <!-- <input type="text" ngModel name="nombreRed" class="form-control" id="nombreRed" placeholder="Red social" required> -->
                    <select ngModel name="nombreRed" class="form-select" id="nombreRed" placeholder="Red social" required>
                        <option value="Facebook">Facebook</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Twitter">Twitter</option>
                        <option value="YouTube">YouTube</option>
                        <option value="GitHub">GitHub</option>
                        <option value="LinkedIn">LinkedIn</option>
                      </select>
                </div>
                <input type="hidden" ngModel="{{ editarRedes?.id }}" name="i" class="form-control"
                            id="id" aria-describedby="emailHelp" placeholder="" />
                <div class="form-group">
                    <label for="urlRed">URL</label>
                    <input type="text" ngModel name="urlRed" class="form-control" id="urlRed" placeholder="URL" required>
                </div>    
                <div class="modal-footer">
                    <button type="button" id="add-redes-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Añadir cambios</button>
                </div>
            </form>
            </div>   
        </div>
    </div>

</div>

<!-- Modal Editar -->

<div class="modal fade" id="editRedesModal" tabindex="-1" role="dialog" aria-labelledby="editRedesModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="updateRedesModalLabel">Editar proyecto {{ editarRedes?.nombreRed }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #editForm="ngForm">
                <input type="hidden" ngModel="{{ editarRedes?.id }}" name="id" class="form-control"
                    id="id" aria-describedby="emailHelp" placeholder="" />
                <div class="form-group">
                    <label for="nombreRed">Redes sociales</label>
                    <!-- <input type="text" ngModel="{{ editarRedes?.nombreRed }}" name="nombreRed"
                        class="form-control" id="nombreRed" aria-describedby="emailHelp" placeholder="Red social" /> -->
                        <select ngModel name="nombreRed" class="form-select" id="nombreRed" placeholder="Red social" required>
                            <option value="Facebook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Twitter">Twitter</option>
                            <option value="YouTube">YouTube</option>
                            <option value="GitHub">GitHub</option>
                            <option value="LinkedIn">LinkedIn</option>
                          </select>
                </div>
                <div class="form-group">
                    <label for="urlRed">URL</label>
                    <input type="text" ngModel="{{ editarRedes?.urlRed }}" name="urlRed"
                        class="form-control" id="urlRed" aria-describedby="emailHelp"
                        placeholder="URL" />
                </div>
                <div class="modal-footer">
                    <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Cerrar
                    </button>
                    <button (click)="onUpdateRedes(editForm.value)" data-dismiss="modal"
                        class="btn btn-primary">Añadir cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Modal Delete -->

<div data-bs-toggle="modal" data-bs-target="#deleteModelLabel" class="modal fade" id="deleteRedesModal"
        tabindex="-1" role="dialog" aria-labelledby="deleteRedesModalLabel" aria-hidden="true">

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteRedesModalLabel">Eliminar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Estas seguro de eliminar el registro: "{{eliminarRedes?.nombreRed}}" de tus redes?</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteRedes(eliminarRedes!.id)" class="btn btn-danger"
                    data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>
</div>