<div class="container-fluid acerca-de">
    <div class="row">
        <div class="col-md-6 col-sd-12">
            <img src="../../../assets/img/foto-perfil.jpg" alt="foto de perfil" class="img-fluid" id="foto-perfil">
        </div>
        <div class="col-md-6 col-sd-12">
            <div class="texto-portada">
            <h2>Acerca de mí</h2>
            <div class="parrafo-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis autem saepe blanditiis fugiat
                    aliquam eveniet repellendus earum inventore qui.!</p>
            </div>            
            <div class="parrafo-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis autem saepe blanditiis fugiat
                    aliquam eveniet repellendus earum inventore qui.!</p>
            </div>
            
        </div>
        </div>
    </div>
</div>