#foto-perfil {
    clip-path: circle();
    position: absolute;
    justify-content: center;;
    width: 100%;
    max-width: 430px;
    top: 30%;
    left: 3%;
    margin: auto;
    filter: grayscale(100%);
}

.acerca-de {
    padding-top: 25px;
    padding-bottom: 200px;
    text-align: justify;
    background-color: #313E40;
}

.texto-portada {
    color: #D9D9D9;
}


@media (max-width: 950px){
    #foto-perfil {
        width: 350px;
    }
}



@media (max-width: 767px){
    .acerca-de {
        padding-left: 15px;
        padding-right: 15px;
    }

    #foto-perfil {
        float: inline-end;
        /* position: absolute; */
        justify-content: center;
        width: 380px;     
        top: 230px;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .texto-portada {
        margin-top: 150px;
        justify-content: center;
    }

    .parrafo-1 {
        margin: 10px;
        width: 45%;
        display:inline-block;
        box-sizing:border-box;
    }

    .parrafo-2{
        margin: 10px;
        width: 45%;
        display:inline-block;
        box-sizing:border-box;
    }

}