#divisor {
    padding: 10px;
    font-size: 5rem;
    text-align: center;
}

.fondo-habilidades {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: #313E40; */
    color: #EBF0F2;
}

.btn-primary-tooltips {
    color: black;
}

.btn-secondary-tooltip {
    color:black;
}

.hard-skills {
    padding-top: 40px;
    text-align: center;
    grid-row-gap: 40px;
}

.btn-dark {
    text-align: center;
    line-height: 22px;
    margin: 50px;
     
}

.nav-link {
    padding:10px;
}

@media (max-width: 767px){
    .fa {
        margin-left: 30px;
    }

   
}