#divisor {
    padding: 10px;
    font-size: 5rem;
    text-align: center;
}

.corte {
    width: 100vw;
    height: 20vh;
    background-color: #06080D;
    clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0%, 0 0);
}

.fondo-habilidades {
    background-color: #06080D;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: #EBF0F2;
}


.btn-primary-tooltips {
    color: #5CB9F2;
}

.btn-secondary-tooltip {
    color: #5CB9F2;
}

.hard-skills {
    padding-top: 40px;
    text-align: center;
    grid-row-gap: 40px;
}

.btn-dark {
    text-align: center;
    line-height: 22px;
    margin: 20px;
    background-color: #5CB9F2;
}

.nav-link {
    padding: 10px;
}