.fondo-educacion {
    padding-top: 40px;    
    padding-bottom: 100px;
    
    padding-left: 30px;
    padding-right: 30px;
    /* color: #313E40; */
}

.lista-educacion {
    padding-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
}

.btn-dark {
    text-align: center;
    line-height: 22px;
    margin: 20px;
    background-color: #5CB9F2;
}

.btn-primary-tooltips {
    color: #5CB9F2;
}

.btn-secondary-tooltip {
    color: #5CB9F2;
}

.educacion-logo {
    filter: invert(1);
    max-width: 150px;
}

.nav-link {
    padding:10px;
}

.añadir {
    margin-top: 30px;
}

@media (max-width: 767px){
    .lista-educacion {
        display: block;
        text-align: center;
    }

    .educacion-logo {
        display: block;
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
        /* margin-left: 168%; */
        padding-bottom: 20px;
    }
}