.fondo-iniciar-sesion {
    padding-top: 200px;
    padding-bottom: 40px;
    /* background-color: #1A2E40; */
    background: linear-gradient(to bottom right, #1A2E40, #06080D);
}

.logo-arg {
    display: flex;
    font-size: 200%;
}

.btn-lg {
    background-color: #212529;
}

.form-floating {
    margin-top: 10px;
}

.ingreso {
    color: #5CB9F2;
}

.iniciar-sesion {    
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

/* .iniciar-sesion .checkbox {
    font-weight: 800;
} */

/* .iniciar-sesion .form-floating:focus-within {
    z-index: 2;
} */

.iniciar-sesion input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.iniciar-sesion input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-group {
    margin: 20px;
}

.form-control {
    height: 50px;
}

.error-login {
    text-align: center;
    color: red;
}

.footer {
    text-align: center;
}

@media (max-width: 667px) {
    .logo-arg {
        /* display: flex; */
        font-size: 180%;
    }

    .logo-arg span {
        padding-top: 5px;
    }
}
