<div class="sesion-component">


  <div class="iniciar-sesion">
    <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit">
      <form #f="ngForm" (ngSubmit)="onLogin()">
        <div class="holis">
          <img class="mb-4" src="../../../assets/img/argen-programa-logo.png" alt="" width="72" height="57">
          <span class="texto">Argentina Programa</span>
        </div>
        <!-- <div class="form-floating"> -->
        <!-- <label for="nombreUsuario"></label> -->
        <div class="form-group">
          <input placeholder="Usuario" type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
            [(ngModel)]="nombreUsuario" required>
        </div>
        <!-- </div>
        <div class="form-floating"> -->
        <!-- <label for="password"></label> -->
        <div class="form-group">
          <input placeholder="Contraseña" type="password" name="password" id="password" class="form-control"
            [(ngModel)]="password" required>
          <!-- </div> -->
        </div>
        <button class="w-100 btn btn-lg btn-primary" [disabled]="!f.valid">Iniciar sesión</button>
        <a routerLink="/portfolio" class="ingreso">Ingresar a mi portfolio</a>
        <p class="mt-5 mb-3 text-muted" style="text-align: center;">Leonardo Vaudagna - 2021</p>
      </form>
    </form>
  </div>

</div>