.sesion-component {
    display: flex;
    padding-top: 200px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.holis {
    display: flex;
    font-size: 200%;
}

.texto {
    
    text-align: center;

}

.ingreso {
    text-decoration: none;
    margin-top: 40px;
    display: block;
    text-align: center;
}

.form-floating {
    margin-top: 10px;
}

.iniciar-sesion {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.iniciar-sesion .checkbox {
    font-weight: 400;
}

.iniciar-sesion .form-floating:focus-within {
    z-index: 2;
}

.iniciar-sesion input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.iniciar-sesion input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-group {
    margin: 20px;
}

.form-control {
    height: 50px;
}

