<div class="sesion-component">


<div class="iniciar-sesion">
  <form>
    <div class="holis">
      <img class="mb-4" src="../../../assets/img/argen-programa-logo.png" alt="" width="72" height="57">
      <span class="texto">Argentina Programa</span>
      <!-- <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1> -->
    </div>
    <div class="form-floating">
      <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="Correo electrónico">
      <label for="floatingInput">Correo electrónico</label>
    </div>
    <div class="form-floating">
      <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>      
    </div>

    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
    <p class="mt-5 mb-3 text-muted" style="text-align: center;">Leonardo Vaudagna - 2021</p>
  </form>
</div>

</div>