#divisor {
    padding: 10px;
    font-size: 5rem;
    text-align: center;
}

.fondo-soft {
    background: linear-gradient(to bottom, #06080D, #1A2E40);;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #EBF0F2;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;

}

.btn-primary-tooltips {
    color: #5CB9F2;
}

.btn-secondary-tooltip {
    color: #5CB9F2;
}

.soft-skills {
    padding-top: 40px;
    text-align: center;
    grid-row-gap: 40px;
}


.btn-dark {
    text-align: center;
    line-height: 22px;
    margin: 20px;
    background-color: #5CB9F2;
}

.nav-link {
    padding:10px;
}