<app-navbar></app-navbar>

<div class="portada-img">
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-md-6 texto-portada" *ngIf="persona; else nuevaPersona">
            <h1 *ngIf="!persona.nombre && !persona.apellido" style="color: #8FA1A6">Completar</h1>

            <h1>{{persona.nombre}} {{persona.apellido}} </h1>
            <p>{{persona.titulo}} <span *ngIf="!persona.titulo">. . .</span><a *ngIf="isAdmin"
                    (click)="onOpenModalH('edit', persona)" data-target="#editPersonaHModal"
                    class="btn btn-primary-tooltips" data-placement="top" data-toggle="modal"
                    data-original-title="Edit"><i class="fa fa-pencil" id="2"></i>
                </a></p>

                <div class="linea"></div>

        </div>

    </div>

    

    <ng-template #nuevaPersona>
        <div class="comenzar">
            <button *ngIf="isAdmin" type="button" class="btn btn-dark" data-target="#addPersonaModal"
                data-toggle="modal" (click)="onOpenModalH('add')">
                <a class="nav-link" style="color:aliceblue">Haz click aquí para comenzar a editar tu portfolio</a>
                <span class="sr-only">(current)</span>
            </button>
        </div>
    </ng-template>

    



</div>

<!-- Añadir PERSONA Modal-->

<div class="modal fade" id="addPersonaModal" tabindex="-1" role="dialog" aria-labelledby="addPersonaModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPersonaModalLabel">Bienvenido a tu protfolio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                        &times;</span></button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddPersona(addForm)">
                    <div class="form-group">
                        <label for="nombre">Comencemos por tu nombre. Cómo te llamas?</label>
                        <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre"
                            required>
                    </div>
                    <input type="hidden" ngModel="{{ editarPersona?.id}}" name="i" class="form-control" id="id"
                        aria-describedby="emailHelp" placeholder="">
                    <div class="modal-footer">
                        <button type="button" id="add-persona-form" class="btn btn-secondary"
                            data-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Añadir
                            cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Modal Editar -->

<div class="modal fade" id="editPersonaHModal" tabindex="-1" role="dialog" aria-labelledby="editPersonaHModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePersonaHModalLabel">Acerca de mí:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <input type="hidden" ngModel="{{ editarPersona?.id }}" name="id" class="form-control" id="id"
                        aria-describedby="emailHelp" placeholder="" />
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" ngModel="{{ editarPersona?.nombre }}" name="nombre" class="form-control"
                            id="nombre" aria-describedby="emailHelp" placeholder="Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" ngModel="{{ editarPersona?.apellido }}" name="apellido" class="form-control"
                            id="apellido" aria-describedby="emailHelp" placeholder="Apellido" />
                    </div>
                    <div class="form-group">
                        <label for="titulo">Titutlo</label>
                        <input type="text" ngModel="{{ editarPersona?.titulo }}" name="titulo" class="form-control"
                            id="titulo" aria-describedby="emailHelp" placeholder="Título" />
                        <input type="hidden" ngModel="{{ editarPersona?.fechaNac }}" name="fechaNac"
                            class="form-control" id="fechaNac" aria-describedby="emailHelp" placeholder="" />
                        <input type="hidden" ngModel="{{ editarPersona?.acercaDe }}" name="acercaDe"
                            class="form-control" id="acercaDe" aria-describedby="emailHelp" placeholder="" />
                        <input type="hidden" ngModel="{{ editarPersona?.correoElectronico }}" name="correoElectronico"
                            class="form-control" id="correoElectronico" aria-describedby="emailHelp" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="urlFoto">Foto</label>
                        <input type="text" ngModel="{{ editarPersona?.urlFoto }}" name="urlFoto" class="form-control"
                            id="urlFoto" aria-describedby="emailHelp" placeholder="www.linkdefoto.com/" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Cerrar
                        </button>
                        <button (click)="onUpdatePersona(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">Añadir cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>