.prueba {
    font-family: 'Encode Sans', sans-serif;
    color: black;    
}

.fa {
    padding: 0px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
  }

#img-header {
    width: 100%;
}

.navbar-custom {
    background-color: #EBF0F2;
    color: white;
}

.portada-img {
    padding-top: 100px;
    height: 400px;
    background-color: #5C6F73;
}

.texto-portada {
    color: #EBF0F2;
    position: relative;
    bottom: -210px;
}

@media (max-width: 767px){
    .texto-portada {
        position: relative;
        text-align: center;
        top: -40px;
    }
}