<app-navbar></app-navbar>

<div class="portada-img">
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-md-6 texto-portada" *ngIf="persona">
            <h1 *ngIf="!persona.nombre && !persona.apellido" style="color: #8FA1A6">Completar</h1>  
            
            <h1>{{persona.nombre}} {{persona.apellido}} </h1>
            <p>{{persona.titulo}} <span *ngIf="!persona.titulo">. . .</span><a (click)="onOpenModalH('edit', persona)" data-target="#editPersonaHModal" class="btn btn-primary-tooltips"
                data-placement="top" data-toggle="modal" data-original-title="Edit"><i class="fa fa-pencil" id="2"></i>
            </a></p>
            
        </div>
        
    </div>
    


</div>

<!-- Modal Editar -->

<div class="modal fade" id="editPersonaHModal" tabindex="-1" role="dialog" aria-labelledby="editPersonaHModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePersonaHModalLabel">Acerca de mí:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <input type="hidden" ngModel="{{ editarPersona?.id }}" name="id" class="form-control" id="id"
                        aria-describedby="emailHelp" placeholder="" />
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" ngModel="{{ editarPersona?.nombre }}" name="nombre" class="form-control"
                            id="nombre" aria-describedby="emailHelp" placeholder="Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" ngModel="{{ editarPersona?.apellido }}" name="apellido" class="form-control"
                            id="apellido" aria-describedby="emailHelp" placeholder="Apellido" />
                    </div>
                    <div class="form-group">
                        <label for="titulo">Titutlo</label>
                        <input type="text" ngModel="{{ editarPersona?.titulo }}" name="titulo" class="form-control"
                            id="titulo" aria-describedby="emailHelp" placeholder="Título" />
                        <input type="hidden" ngModel="{{ editarPersona?.fechaNac }}" name="fechaNac"
                            class="form-control" id="fechaNac" aria-describedby="emailHelp" placeholder="" />
                        <input type="hidden" ngModel="{{ editarPersona?.acercaDe }}" name="acercaDe"
                            class="form-control" id="acercaDe" aria-describedby="emailHelp" placeholder="" />
                        <input type="hidden" ngModel="{{ editarPersona?.correoElectronico }}" name="correoElectronico"
                            class="form-control" id="correoElectronico" aria-describedby="emailHelp" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="urlFoto">Foto</label>
                        <input type="text" ngModel="{{ editarPersona?.urlFoto }}" name="urlFoto" class="form-control"
                            id="urlFoto" aria-describedby="emailHelp" placeholder="www.linkdefoto.com/" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Cerrar
                        </button>
                        <button (click)="onUpdatePersona(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">Añadir cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->

<!-- <div data-bs-toggle="modal" data-bs-target="#deleteModelLabel" class="modal fade" id="deleteEducationModal"
    tabindex="-1" role="dialog" aria-labelledby="deleteEducationModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteEducationModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estás seguro de eliminar el registro de educacion? {{eliminarPersona?.titulo}}</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeletePersona(eliminarEducacion!.id)" class="btn btn-danger"
                        data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div> -->