/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    font-family: 'Encode Sans', sans-serif;
    /* border: none !important; */
}

p {
    font-weight: 200;
}

html, body { 
    /* margin-left: 0;
    height: 100%; */
    color: aliceblue;
    background: linear-gradient(to bottom right, #1A2E40, #06080D);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

.modal {
    line-height: 220%;
}


.modal-content {
    background-color: grey;
}


.modal label {
    padding-top: 10px;
}
