/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    font-family: 'Encode Sans', sans-serif;
    /* border: none !important; */
}

p {
    font-weight: 200;
}

html, body { 

    margin-right: 0 !important ;
    color: aliceblue;
    background: linear-gradient(to bottom right, #1A2E40, #06080D);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border: none;
    overflow-x:hidden;
    
}

.modal {
    line-height: 220%;
}


.modal-content {
    background-color: #06080D;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #5CB9F2, #22A2F2);
    border-image-slice: 1;
    padding: 25px;
}

.modal-footer {
    border-top: 0 none;
}


.modal label {
    padding-top: 10px;
}

.close {
    background-color: #06080D;
    color: #5CB9F2;
    border:none;
}
